body {
    padding: 0px;
    margin: 0px;
    font-size: 10px;

    .nav-bar {
        position: fixed;
        top: 0px;
        display: flex;
        width: 100%;
        padding: 10px;
        justify-content: space-around;
        z-index: 2;
        background-color: rgb(62, 113, 136);

        .toggle-nav {
            height: 30px;
            width: 30px;
            display: inline-flex;
            flex-direction: column;
            background-color: rgb(72, 101, 114);
            justify-content: space-around;

            .item-one {
                height: 2px;
                width: 100%px;
                background-color: rgb(255, 255, 255);
            }

            .item-two {
                height: 2px;
                width: 100%px;
                background-color: rgb(255, 255, 255);
            }

            .item-three {
                height: 2px;
                width: 100%px;
                background-color: rgb(255, 255, 255);
            }
        }

        .toggle-item {
            .sub-item {
                .item {
                    font-size: 1.6em;
                    color: #fff;
                }
            }
        }
    }

    //Home
    overflow-x: hidden;

    .header-slide {
        width: 100%;
        overflow-x: hidden;

        .img-container {
            display: flex;

            img {
                min-width: 100%;
                margin: 0px;
            }
        }
    }

    //Home
    .section-one {
        overflow-x: hidden;
        font-size: 1.5em;
        padding: 1.8em;
        line-height: 1.7em;



        .part-one {
            margin-top: 70px;

            .text-one {
                .img-one {
                    img {
                        max-width: 100%;
                    }
                }
            }
        }

        .part-two {
            .text-two {
                .img-two {
                    img {
                        max-width: 100%;
                    }
                }
            }
        }

        .part-three {
            .text-three {
                .img-three {
                    img {
                        max-width: 100%;
                    }
                }
            }
        }

        .part-four {
            .text-four {}
        }
    }

    .part-five {
        .text-five {
            .img-five {
                img {
                    max-width: 100%;
                }
            }
        }
    }

    .part-six {
        .text-six {
            .img-six {
                img {
                    max-width: 100%;
                }
            }
        }
    }

    .section-two {
        font-size: 1.5em;
        padding: 1.8em;
        line-height: 1.7em;

        .text {
            margin-top: 70px;
        }
    }

    .section-three {
        font-size: 1.5em;
        padding: 1.8em;
        line-height: 1.7em;


        .text-three {
            margin-top: 70px;

            ul {
                list-style-type: none;

                li {
                    display: inline;
                }
            }
        }
    }

    .section-four {
        font-size: 1.5em;
        padding: 1.8em;
        line-height: 1.7em;

        .text-four {

            margin-top: 70px;
        }
    }

    //Footer
    .footer {
        position: relative;

        bottom: 0px;
        width: 100%;
        text-align: center;
        background-color: rgb(0, 16, 20);
        padding-bottom: 50px;

        .contact {
            text-align: center;
            font-size: 1.6em;
            color: #fff;

            p {
                padding: 10px;
                line-height: 35px;
            }
        }

        .input {
            background-color: rgb(0, 23, 29);
            width: 80%;
            margin-top: 30px;
            border-radius: 10%;
            text-align: center;
            display: inline-block;

            input {
                margin-top: 20px;
                text-align: center;
            }

            textarea {
                height: 70px;
                margin-top: 20px;
                padding-top: 50px;
                text-align: center;
            }

            button {
                margin: 10px;
            }

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

@media (min-width: 1975px) {}

@media (min-width: 1024px) and (max-width: 1975px) {}

@media (min-width: 767px) and (max-width: 1024px) {}

@media (min-width: 481px) and (max-width: 767px) {}